{% load static %}

{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Изменение статуса</title>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            th, td {
                border: 1px solid black;
                padding: 10px;
            }
        </style>
    </head>

    <body>
        <h1>Урожай успешно собран!</h1>


        <div class="content-container2">
            <table class="balance-table">
                <!-- Здесь можно добавить информацию о результате обновления -->
            </table>
        </div>

        <button onclick="window.location.href='{% url 'supervisor' %}'">Вернуться на главную</button>
    </body>
</html>
{% endblock %}
