{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Урожай по филиалу</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="headers">
        <h1>Конкретный филиал</h1>
        <h2>{{ item.address }}</h2>
    </div>
    <div class="content-container2">
        <table class="balance-table">
            <tr>
                <th colspan="3">Скупки:</th>
            </tr>
            <tr>
                <th>Адрес</th>
                <th>в 585</th>
                <th>в 925</th>
            </tr>
            {% if secret_room_groups %}
                {% for item in secret_room_groups %}
                    <tr>
                        <td>{{ item.full_address }}</td>
                        <td>{{ item.sum_converter585|default:"0" }}</td>
                        <td>{{ item.sum_converter925|default:"0" }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3">Нет скупок по указанному адресу</td></tr>
            {% endif %}
        </table>
    </div>
    <div class="buttons">
        <form action="{% url 'harvest_address_views' %}" method="post">
            {% csrf_token %}
            <button type="submit">Собрать урожай</button>
        </form>
        <button onclick="window.location.href='{% url 'supervisor' %}'">Вернуться на главную</button>
    </div>
<!--            <a href="{% url 'supervisor' %}" class="btn btn-outline-secondary">Вернуться на главную</a>-->
</body>
</html>

{% endblock %}
