{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Посмотреть собранный металл</title>

</head>

<table class="collected_metal">
    <tr>
        <th colspan="3">Посмотреть собранный металл:</th>
    </tr>
    <tr>
        <th>Проба</th>
        <th>Чистый вес</th>
        <th>Фактический вес</th>
    </tr>
    {% for item in SecretRoom %}
    <tr>
        <td>{{ item.gold_standard }}</td>
        <td>{{ item.total_weight_clean }}</td>
        <td>{{ item.total_weight_fact }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
